.content-tab-user {

    &__title {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    &__form-add {

        &__form {
            display: none;
            background: #fdfdfd;
            border: 1px solid #ececec;
            border-radius: 4px;
            padding: 10px 16px;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: 0.3s all;

            &.post-list-item {
                display: block;
            }

            &__head {
                display: flex;
                gap: 1rem;
                align-items: center;

                &__title {
                    display: flex;
                    gap: 8px;
                    flex-wrap: wrap;
                    align-items: center;

                    & .post-title {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                    }

                    & svg.add-razdelitel {
                        visibility: hidden;
                        opacity: 0;

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    & .post-subtitle {}
                }

                &__buttons {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    margin-left: auto;

                    & button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        color: #8c8c8c;
                        padding: 0;
                        border-radius: 4px;

                        &:hover {
                            background: #e8eef6;
                        }
                    }
                }
            }

            & form {
                margin-top: 8px;
                padding-top: 30px;
                border-top: 1px solid #ececec;

                & .field-group__title {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 4px;
                }

                &.add-employee {
                    display: flex;
                    gap: 2rem;
                    flex-wrap: wrap;
                    width: 100%;

                    & .form-inputs {
                        width: calc((100% - 2rem) / 4*3);
                    }

                    & .form-avatar {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: calc((100% - 2rem) / 4);

                        & label {
                            margin-bottom: 16px;
                            font-size: 12px;
                            cursor: pointer;
                        }

                        & input#employee_image_upload {
                            display: none;
                        }
                    }

                    & .buttons-group-post.add-post {
                        width: 100%
                    }
                }
            }

            &__edit-success {
                visibility: hidden;
                opacity: 0;
                height: 0;
                margin: 0;
                padding: 0;
                font-size: 14px;
                color: var(--green-color);
                transition: 0.3s all;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    height: fit-content;
                    margin-top: 8px;
                    padding-top: 30px;
                }
            }

            &.active {
                display: block;
                visibility: visible;
                opacity: 1;
                height: fit-content;
                margin-bottom: 8px;
            }

            &.post-list-item {
                visibility: visible;
                opacity: 1;
                height: fit-content;

                & form {
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    margin: 0;
                    padding: 0;
                    transition: 0.3s all;

                    &.active {
                        visibility: visible;
                        opacity: 1;
                        height: fit-content;
                        margin-top: 8px;
                        padding-top: 30px;
                    }
                }
            }
        }
    }

    &__content {

        &__posts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}

.parent-user-list {

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fdfdfd;
        border: 1px solid #ececec;
        border-radius: 4px;
        padding: 10px 16px;
        transition: 0.3s all;

        & a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:hover ~ .parent-user-list__item__name {
                text-decoration: underline;
            }
        }

        &__name {
            font-weight: 600;
        }

        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            color: #8c8c8c;
            padding: 0;
            border-radius: 4px;
            z-index: 9;

            &:hover {                
                background: #e8eef6;
            }
        }
    }
}
