.archive-title {
    font-size: 16px;

    &.active {
        font-size: 18px;
        font-weight: 600;
    }

    & sup {
        font-weight: 100;
        color: #8c9197;
    }
}

h1.archive-title {
    font-size: 20px;
    font-weight: 600;
}

.archive-buttons-header {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;

    &__item {

        & button.btn-primary-smail {
            padding: 4px 20px;
        }
    }
}

.archive-search-header {

}

.archive-filter {
    position: relative;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;

    &__item {

        & button {
            display: flex;
            gap: 4px;
            align-items: center;
            padding: 5px 11px;
            border: 1px solid #e8e8e8;
            border-radius: 40px;
            font-size: 12px;
            line-height: 20px;

            &.no-border {
                border: none;
            }
        }

        &.mla {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            align-items: center;
            margin-left: auto;
        }
    }
}

.sorting-requests {
    position: relative;

    &__options {
        position: absolute;
        background-color: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 0.26rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
        width: 180px;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        top: 110%;
        right: 0;
        z-index: 9;
        cursor: default;
        display: none;
        visibility: hidden;
        opacity: 0;

        &.active {
            display: flex;
            visibility: visible;
            opacity: 1;
        }

        &__title {
            display: block;
            width: 100%;
            padding: 6px 20px;
            margin-top: 4px;
            font-size: 13px;
            font-weight: 600;
            border-bottom: 1px solid #b9b9b9;
            opacity: 0.6;
        }

        &__item {
            display: block;
            width: 100%;
            text-align: left;
            padding: 4px 20px;
            cursor: pointer;

            &:hover {
                background: #e8e8e8;
            }

            &.active {
                background: #e8e8e8;
            }
        }
    }
}

.with-options  {
    position: relative;
}

.filtr-options {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 0.26rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    // flex-direction: column;
    align-items: flex-start;
    top: 110%;
    left: 0;
    z-index: 9;
    cursor: default;
    display: none;
    visibility: hidden;
    opacity: 0;

    &.active {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    &__wrap {
        width: calc((100% - 40px) / 3);
    }

    &__parent {
        display: flex;
        gap: 6px;
        align-items: center;
        font-size: 13px;
        line-height: 16px;
        cursor: pointer;
        transition: 0.3s all;

        & input {
            height: 12px;
            cursor: pointer;
        }

        & input[type="checkbox"]:checked+label {
            font-weight: 600;
        }

        &:not(:first-child) {
            margin-top: 12px;
        }

        &.active {
            font-weight: 600;
        }
    }

    &__count {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        color: #bfbfbf;
    }

    &__expand {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        line-height: 16px;
        color: #bfbfbf;
        margin-left: 18px;
        // margin-top: 2px;
        cursor: pointer;

        & svg {
            transition: 0.3s all;

            &.active {
                transform: rotate(180deg);
            }
        }
    }

    &__children {
        display: none;
        visibility: hidden;
        opacity: 0;
        padding-left: 16px;
        padding-top: 12px;
        transition: 0.3s all;

        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
        }

        &__item {
            display: flex;
            gap: 6px;
            align-items: center;
            font-size: 13px;
            line-height: 16px;
            cursor: pointer;

            & input {
                height: 12px;
                cursor: pointer;
            }

            & input[type="checkbox"]:checked+label {
                font-weight: 600;
            }
        }
    }

    & label {
        cursor: pointer;
    }

    &.categories {
        gap: 20px;
        max-width: 700px;
        width: 100%;
        padding: 30px;
    }

    &.type {
        gap: 10px;
        padding: 20px;
    }
}

.archive-posts {
    border: 1px solid #e5e5e5;
    border-radius: 4px;

    &__item {
        position: relative;
        display: flex;
        gap: 12px;
        align-items: center;
        flex-wrap: wrap;
        padding: 14px 20px;

        &:not(:last-child) {
            border-bottom: 1px solid #e8e8e8;
        }

        &__logo {
            flex: none;
            width: 32px;
            height: 32px;
        }

        &__title {
            flex: 1;
            font-weight: 600;

            & a {
                color: #161616;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.requests {
                flex: 3;

                & .request-title {}

                & .requests-media-meta {
                    font-size: 12px;
                    line-height: 14px;
                    z-index: 9;

                    & a {
                        opacity: 0.6;

                        &:hover {
                            color: var(--current-menu-item);
                            text-decoration: underline;
                        }
                    }

                    &__date {
                        font-weight: 400;
                        opacity: 0.6;
                    }
                }
            }
        }

        &__meta {
            flex: 2;
            color: #8c8c8c;

            &.requests {
                flex: none;
                z-index: 6;
            }

            &__deadline {
                display: inline-block;
                font-weight: 500;
                font-size: 10px;
                line-height: 14px;
                padding: 4px 8px;
                border-radius: 38px;
                color: #262626;
                border: 1px solid #e5e5e5;
                z-index: 6;
            }
        }

        &__buttons {
            flex: none;
            display: flex;
            gap: 12px;
            align-items: center;
            z-index: 6;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                color: #8c8c8c;
                border-radius: 4px;

                &.active {
                    color: var(--current-menu-item);
                }

                &:hover {
                    color: var(--text-color, #161616);
                    background: #e8eef6;
                }
            }
        }
    }
}

.modal.request-add {
    max-width: 900px;
    top: 0;
    transform: translate(-50%, 2%);
    text-align: left;

    @media (max-width: 940px) {
        max-width: 97%;
    }

    & h4 {
        text-align: center;
        margin-top: 0;
    }

    & form {
        margin: 2rem 0 0;
    }
}

.modal.invite-employee {
    max-width: 600px;
    top: 20%;
    // transform: translate(-50%, 4%);

    @media (max-width: 940px) {
        max-width: 97%;
    }

    & h4 {
        text-align: center;
        margin-top: 0;
    }

    & .modal-content.assign-work-journalists {

        & button {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            justify-content: center;
        }
    }

    & form {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 2rem 0 0;

        @media (max-width: 567px) {
            flex-direction: column;
        }

        & button {
            padding: 7px 40px;
            line-height: 24px;

            @media (max-width: 567px) {
                width: 100%;
                justify-content: center;
            }
        }
    }
}
